# Usando a Biblioteca Pandas para Analisar um Conjunto de Dados

In [1]:
# Importando os dados

import pandas as pd

In [2]:
# Abrindo o arquivo que ser√° usado

data = pd.read_csv('Gapminder.csv', error_bad_lines=False, sep=';')
# Colocamos os argumentos necessarios para poder ler o arquivo e passar o erro gerado por erros de linhas. 
# Definindo um separador de colunas

C:\Users\julio\AppData\Local\Temp\ipykernel_24300\4008905096.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  data = pd.read_csv('Gapminder.csv', error_bad_lines=False, sep=';')

In [3]:
# Mostrando as primeiras linhas dados do dataframe

data.head(25)

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735
20      Albania    Europe  1992   71.581   3326498  2497.437901
21      Albania    Europe  1997   72.950   3428038  3193.054604
22      Albania    Europe  2002   75.651   3508512  4604.211737
23      Albania    Europe  2007   76.423   3600523  5937.029526
24      Algeria    Africa  1952   43.077   9279525  2449.008185

In [4]:
# Mostrando ultimas dados

data.tail(25)

          country continent  year  lifeExp       pop    gdpPercap
3287  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
3288       Zambia    Africa  1952   42.038   2672000  1147.388831
3289       Zambia    Africa  1957   44.077   3016000  1311.956766
3290       Zambia    Africa  1962   46.023   3421000  1452.725766
3291       Zambia    Africa  1967   47.768   3900000  1777.077318
3292       Zambia    Africa  1972   50.107   4506497  1773.498265
3293       Zambia    Africa  1977   51.386   5216550  1588.688299
3294       Zambia    Africa  1982   51.821   6100407  1408.678565
3295       Zambia    Africa  1987   50.821   7272406  1213.315116
3296       Zambia    Africa  1992   46.100   8381163  1210.884633
3297       Zambia    Africa  1997   40.238   9417789  1071.353818
3298       Zambia    Africa  2002   39.193  10595811  1071.613938
3299       Zambia    Africa  2007   42.384  11746035  1271.211593
3300     Zimbabwe    Africa  1952   48.451   3080907   406.884115
3301     Zimbabwe    Africa  1957   50.469   3646340   518.764268
3302     Zimbabwe    Africa  1962   52.358   4277736   527.272182
3303     Zimbabwe    Africa  1967   53.995   4995432   569.795071
3304     Zimbabwe    Africa  1972   55.635   5861135   799.362176
3305     Zimbabwe    Africa  1977   57.674   6642107   685.587682
3306     Zimbabwe    Africa  1982   60.363   7636524   788.855041
3307     Zimbabwe    Africa  1987   62.351   9216418   706.157306
3308     Zimbabwe    Africa  1992   60.377  10704340   693.420786
3309     Zimbabwe    Africa  1997   46.809  11404948   792.449960
3310     Zimbabwe    Africa  2002   39.989  11926563   672.038623
3311     Zimbabwe    Africa  2007   43.487  12311143   469.709298

## Limpando os Dados


#### Verificando se h√° dados a serem corrigidos, nulos ou n√£o preenchidos

In [5]:
# Verificanod se h√° valores nulos

data.isnull().sum()

country        0
continent    301
year           0
lifeExp        0
pop            0
gdpPercap      0
dtype: int64

In [6]:
# Verificanod se h√° valores n√£o prenchidos

data.isna().sum()

country        0
continent    301
year           0
lifeExp        0
pop            0
gdpPercap      0
dtype: int64

In [7]:
# Mostrando o scopo do dataframa

data.shape

(3312, 6)

In [8]:
# Verificando o tipo de dado de cada colula
data.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [9]:
# Organizando as colunas e renomeados os dados

data = data.rename(
                    columns = {'country' : 'Pais',
                           'continent' : 'Continente',
                           'year' : 'Ano',
                           'lifeExp' : 'Expec. de Vida',
                           'pop' : 'Tot. Popula√ß√£o', 
                           'gdpPercap' : 'PIB'
                           }
)

In [10]:
data.head()

          Pais Continente   Ano  Expec. de Vida  Tot. Popula√ß√£o         PIB
0  Afghanistan       Asia  1952          28.801         8425333  779.445314
1  Afghanistan       Asia  1957          30.332         9240934  820.853030
2  Afghanistan       Asia  1962          31.997        10267083  853.100710
3  Afghanistan       Asia  1967          34.020        11537966  836.197138
4  Afghanistan       Asia  1972          36.088        13079460  739.981106